%h3 Menu Administrativo
.list-group
	%a{:href => '/admin/users'}
		.list-group-item
			%h4.list-group-item-heading
				%span.glyphicon.glyphicon-user
				Usuarios
			%p.list-group-item-text
				Configuraci칩n de usuarios, permisos, id_cobrador asociado, entre otros.
	%a{:href => '/admin/messages_config'}
		.list-group-item
			%h4.list-group-item-heading
				%span.glyphicon.glyphicon-envelope
				Interfaz SMS
			%p.list-group-item-text
				Configuraci칩n de intef치z de conexi칩n con Tedexis para plataforma de SMS.