!!!
%html
	=haml :head
	%body
		.row
			%section#left.col-md-8.vcenter
				%h1
					Llega hasta tus clientes
				%p
					Pit es una aplicación que te permite llegar de manera mas efectiva
					a tus clinetes a través de herramientas que dan a conocer cuando
					es que tus clientes necesitan de tus servicios. 
			%section#login.col-md-3.vcenter= yield

	%footer