%h1 Iniciar Sesión
%form{:method => 'post', :action => '/login'}
	.form-group
		%label Usuario
		%input.form-control{:name => 'login[nick]', :id => 'user', :required => true}
	.form-group
		%label Contraseña
		%input.form-control{:name => 'login[password]', :id => 'password', :required => true, :type => 'password'}
	%input.btn.btn-default{:type => 'submit', :value => 'Login'}